body {
    display: flex;
    background-color:rgba(255, 182, 193, 0.692);
    
}

img {
    width: 100%;
    height: 100%;
}

.brand {
    flex: 1;
    position: relative;
    text-align: center;
}

.right-side {
    flex:2;
    border-style: dashed;
    font-family: 'Delicious Handrawn', cursive, sans-serif;
}

.form-container {
    border-style: dotted;
    border-color: pink;
}

#company-logo {
    position: absolute;
    top: 10%;
    width: 100%;
    background-color: rgba(8, 8, 8, 0.2);
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: bolder;
    
}

.credit {
    position: absolute;
    bottom: 1%;
    color: white;
    font-size: xx-small;
    width: 100%;
    
}

a {
    color: white;
}

.signUpText {
    font-size: 200%;
}

.inputContainer {
    display:flex;
    flex-wrap: wrap;
    gap: 2%;
}

label,input{
    display:flex;
    flex-direction:column;
  }

label {
    padding-top: 2%;
}

fieldset {
    border: none;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:rgba(247, 217, 222, 0.527);
}

.blurb {
    padding: 10%;
    font-size: 200%;
}

.submitSection {
    padding: 5%;
}

.alreadyAccount {
    padding-top: 5%;
}

