body {
    display: flex;
    flex-direction: column;
    margin: 0;

}

.container {
    display: flex;
    background-color:rgba(255, 182, 193, 0.692);
    height: clamp(80vh, 90vh, 99vh);
}

.header, .footer {
    height: clamp(0px, 5vh, 10vh);
    background-color: rgb(121, 119, 119);
    flex: auto;
    
}

img {
    width: 100%;
    height: 100%;
}

.brand {
    max-width: 350px;
    flex: 1;
    position: relative;
    text-align: center;

}

.right-side {
    flex:1;
    display:flex;
    flex-direction: column;
    font-family: 'Delicious Handrawn', cursive, sans-serif;
}

#company-logo {
    position: absolute;
    top: 10%;
    width: 100%;
    background-color: rgba(8, 8, 8, 0.2);
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bolder;
    font-size: clamp(0rem,5vw, 2.5rem);
    
}

.credit {
    position: absolute;
    bottom: 1%;
    color: white;
    font-size: xx-small;
    width: 100%;
    
}

a {
    color: white;
}

.signUpText {
    font-size: 200%;
    padding-bottom: 5%;
}

.inputContainer {
    display:flex;
    flex-wrap: wrap;
    /*gap: 2%;*/
    min-height: 25vh;
    justify-content: space-around;
    align-content: space-around;
}

label,input{
    display:flex;
    flex-direction:column;
  }

label {
    padding-top: 2%;
    font-size: clamp(0.7rem,2vw, 1rem);
}

fieldset {
    border: none;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:rgba(247, 217, 222, 0.527);
}

.blurb {
    padding: clamp(3%,10%,30px);
    font-size: clamp(1rem,5vw, 3rem);
}

.submitSection {
    padding: 5%;
}

.alreadyAccount {
    padding-top: 5%;
}

:focus {
    outline: none;
    border: 3px solid rgba(128, 0, 128, 0.767);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
    padding: 1%;
    font-size: 110%;
}
